#main-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title-register{
    text-align: center;
    font-size: 30px;
}
#box-register{
    font-size: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.20);
    
}

#form-register{
    width: 50%;
    display: grid;
    align-self: center;
    grid-template:
    "label-sku input-sku  input-sku input-sku input-sku input-sku"
    "label-desc input-desc  input-desc  input-desc input-desc input-desc"
    "label-lane input-lane  label-col input-col  label-stand input-stand "
    "button button button button button button"
    /100px 50px 1fr 50px 1fr 50px
}  

#label-sku{
    grid-area: label-sku;
}
#input-sku{
    grid-area: input-sku;
}


#label-desc{
    grid-area: label-desc;
}
#input-desc{
    grid-area: input-desc;
}



#label-lane{
    grid-area: label-lane;
}
#input-lane{
    grid-area: input-lane;
}



#label-col{
    grid-area: label-col;
}
#input-col{
    grid-area: input-col;
}



#label-stand{
    grid-area: label-stand;
}
#input-stand{
    grid-area: input-stand;
}


#label-lane label, #label-sku label, #label-desc label{
    text-align: start;
}


#label-col, #label-stand{
    text-align: center;
}

#button-register{
    grid-area:button;
    width: 30%;
    height: 50px;
    justify-self: center;
    margin-bottom: 3em;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    font-family: 'Oswald';
    background-color: darkgrey;
   

}

#button-register:hover{
    background-color:#acc0ff;
}

#button-register:focus{
    outline: none;
    background-color:#acc0ff;
}

#form-register label{
    width: 100%;
    justify-self: center;
    
}

#form-register input{
    width: 100%;
    justify-self:center ;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#form-register input:target,
#form-register input:focus{
    outline: none;
}

#form-register label,
#form-register input{
    margin-top: 10px;
}


#back-link{
    text-decoration: none;
    color: red;
    margin: 5px auto auto 5px;
}

#back-link:hover{
    color: #acc0ff
}



@media(max-width:1299px){

    #box-register{
        width: 80%;
        height: 80%;
    }


}

@media(max-width:822px){
    #form-register label,#form-register input{
        width: 40%;
    }
    #title-register{
        font-size:25px;
    }

    #button-register{
        font-size: 17px;
    }
}



@media(max-width:649px){
    #form-register label,
    #form-register input{
        width: 80%;
    }

    
}

@media(max-width:400px){
    #form-register label,
    #form-register input{
       font-size:13px;
       width: 85%;
    }
    #title-register{
        font-size: 20px;
    }
    #button-register{
        font-size: 15px;
    }
    #back-link{
        font-size: 13px;
    }

 }


@media(max-width: 280px){
    #form-register label,
    #form-register input{
        font-size:12px;
        width: 90%;
    }
    #title-register{
        font-size: 15px;
    }
    #button-register{
        font-size: 12px;
    }

    #back-link{
         font-size: 10px;
    }
    
}


